@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  font-family: 'Arvo', serif;
  background-color: #dedede;
}
.header{
  text-align: center;
  border-radius: 180px;
  border-style: solid;
  border-width: 5px;
}
.menu { 
  @include span-columns(4); 
  text-align: center;
  padding: 10px;
  padding-right: 10px;
  margin-bottom: 16px;
}
.menu ul {
  padding: 0px;
  list-style: none;
  }
.menu a{
  text-decoration: none;
  margin-right: 71px;
}
.menu a:hover {
    color: #fafafa;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    background-color: #d6d6d6;
  }
.menu a:current {
  color: purple;
  font-size: 48px;
}
  .menu li {
}
 //pic  
.pic-container img{ 
  position:relative;
    margin:4px 4px 4px 4px;
    border:4px solid #333;
    float: left;
    display:inline-block;
    max-height: 480px;
    max-width: 480px;
    @include span-columns(3);
    font-size: 22pt; 
    
  }
.pic-container li {
  list-style: none;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray;

}
.pic-container li:hover {
  -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
   }
//detail
.detail
{
margin: 50px;
}
.detail-container {
  
  margin: 20px;
}
.detail-img {
  display: inline;
  }
  .detail-img img{
  max-width: 500px;
  max-height: 500px;
  float: left;
}
.detail-img .thumbnail {
  max-width: 100px;
  max-height: 100px;
  margin-left: 20px;
  padding-right: 20px;
}
.detail-about{
  margin-left: 523px;
}
.detail-edit{
  margin-left: 523px;
}
.detail-back{
  margin-left: 523px;
}


//add
.add-container{
  max-width: 34em;
  margin-left: auto;
  margin-right: auto;
}
.add-input-title{
  width: 580px;
}
.add-input-url{
  width: 580px;
}
.add-input-about{
  width: 580px;
}
//edit
.edit-container{
  width: 34em;
  margin-left: auto;
  margin-right: auto;
}
.edit-input-location{
  width: 580px;
}
.edit-input-url{
  width: 580px;
}
.edit-input-sum{
  width: 580px;
}
//about

.about
{
margin: 50px;
}
.about-container {
  
  margin: 20px;
}
.about-container img{
  width: 50%;
  height: 50%;
  float: left;
}
