@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  font-family: 'Arvo', serif;
  background-color: #dedede;
}
.header{
  font-family: 'Arvo', serif;
  text-align: center;
  border-radius: 180px;
  border-style: solid;
  border-width: 5px;
}
.menu { 
  @include span-columns(4); 
  text-align: center;
  padding: 0px;
}
.menu ul {
  padding: 0px;
  list-style: none;
  margin: 0px;
}
.menu a{
  text-decoration: none;
  padding: 5px;
}
.menu a:hover {
    color: #fafafa;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    background-color: #d6d6d6;
  }

  .menu li {
  
}




.pic-container img{ 
  position:relative;
    margin:4px 4px 4px 4px;
    border:4px solid #333;
    float: left;
    display:inline-block;
    height: 48%;
    width: 48%;
    @include span-columns(3); 
  

}
.pic-container li {
  list-style: none;
  cursor: pointer;
}
.pic-container li:hover {
  opacity: .9;
}




 





